@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  font-family: 'Press Start 2P', cursive;
  margin:5px;
  padding:0;

}

#animation {
  border: none;
  position: fixed;
  z-index:-999;
  width:100%;
  height:100%;

}

 #navigation {
   position: absolute;
   top:5%;
   left:35%;

 }

 #navigation74 {
   position: absolute;
   top:5%;
   left:15%;

 }

 #navigation75 {
   position: absolute;
   top:5%;
   left:15%;

 }

  #navigation23 {
    position: absolute;
    top:5%;
    left:15%;

  }
 #animation2 {
   position: fixed;
   bottom: 5px;
   right: -50px;
   border:none;

 }
 
 #cathead{
   position: fixed;
   bottom: 30px;
   left: 30px;
   border: none;
 }

 #home{
   position: fixed;
   bottom: 10px;
   right: 5px;
   border: none;
   height: 50px;
 }

.buttons{
  float: left;
  font-size:16pt;
  list-style-type: none;
  background-color:#6fccf7;
  padding: 20px;
  margin-right: 15px;
  border: #221eff 4px outset;

}
.buttons a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.buttons a:hover {
  float: left;
  font-size:16pt;
  list-style-type: none;
  padding: 5px;
  margin-right: 15px;
  background-color:#6fccf7;
  transition: 0.4s;
}
.buttons75{
  float: left;
  font-size:12pt;
  list-style-type: none;
  background-color:#6fccf7;
  padding: 20px;
  margin-right: 15px;
  border: #221eff 4px outset;

}
.buttons75 a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.buttons75 a:hover {
  float: left;
  font-size:13pt;
  list-style-type: none;
  padding: 5px;
  margin-right: 15px;
  background-color:#6fccf7;
  transition: 0.4s;
}
