@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  line-height: 20px;
  margin:3px;
  padding:0;
  background-color: #6fccf7;
}

#web1 {
  position:absolute;
  top: 22%;
  left: 29.67%;
}

#web2 {
  position: absolute;
  top: 70%;
  left: 29.67%;
}

#collage {
  height:270px;
  left: 16.5%;
  position: absolute;
}

#collagegif {
  height: 270px;
  right: 3.5%;
  position:absolute;
}

#home{
  position: fixed;
  bottom: 10px;
  right: 5px;
  border: none;
  height: 50px;
}

#watching{
  position:absolute;
  top: 22%;
  left: 29.67%;
}

#watching2{
  position: absolute;
  top: 70%;
  left: 29.67%;
}

#watching3{
  position: absolute;
  top: 118%;
  right: 29.67%;
}

#watchingF{
  position:absolute;
  top: 22%;
  left: 29.67%;
}

#watching2F{
  position: absolute;
  top: 75%;
  left: 29.67%;
}

#watching3F{
  position: absolute;
  top: 128%;
  right: 29.67%;
}

#watchingI{
  position:absolute;
  top: 22%;
  left: 29.67%;
}

#watching2I{
  position: absolute;
  top: 75%;
  left: 29.67%;
}

#watching3I{
  position: absolute;
  top: 128%;
  right: 29.67%;
}

#watching4I{
  position: absolute;
  top: 181%;
  right: 29.67%;
}

#videolink{
  position: absolute;
  bottom: -99%;
  right: 48%;
  height: 70px;
  border: none;
}

#videolinkI{
  position: absolute;
  bottom: -192%;
  right: 48%;
  height: 70px;
  border: none;
}

#videolinkCI{
  position: absolute;
  top: 166%;
  right: 48%;
  height: 70px;
  border: none;
}

#videolink3{
  position: absolute;
  top: 200%;
  right: 48%;
  height: 70px;
  border: none;
}

#image1 {
  position: absolute;
  bottom: 250px;
  left: 150px;
  border: none;
}

#image2 {
  position: absolute;
  bottom: 250px;
  right: 150px;
  border: none;
}

#image3{
  position: absolute;
  bottom: -90px;
  left: 150px;
  border: none;
}

#image4{
  position: absolute;
  bottom: -90px;
  right: 150px;
  border: none;
}

#image5{
  position: absolute;
  bottom: -430px;
  left: 150px;
  border: none;
}

#image6{
  position: absolute;
  bottom: -430px;
  right: 150px;
  border: none;
}

#sketchlink {
  position: absolute;
  bottom: -785px;
  right: 730px;
  height: 70px;
  border: none;
}
