body {
  background-color: #11111;
  max-width: 1000px
  margin: 100px auto;
  padding: 100px 100px 300px 200px;
  background-image: url(https://media.giphy.com/media/13gvXfEVlxQjDO/giphy.gif);
}

h1 {
  color: pink;
}

img{
  width: 100%;
}

.header{
  margin: 40px
  padding: 60px;
  border:2px solid pink;
  background-color: coral;
  text-align: center;
}

.portolio-item{
  margin: 40px
  padding: 60px;
  border:2px solid black;
  background-color: gray;
}
